

<div class="container">
    <div class="mt-3">
        <a href="/v/a" id="back-button">
            <i class="fa-solid fa-arrow-left"> Back</i>
        </a>
    </div>

    <div class="row d-flex justify-content-center mt-4">
        <div class="col-11 col-md-10 col-lg-8 col-xl-6 border rounded glass p-3">
            <div >
                <h3 class="text-center">Admin Settings</h3>
            </div>
            <div class="ms-3" id="input-group-div">
                <div class="form-check form-switch ">
                    <input class="form-check-input" type="checkbox" role="switch" id="EachOtherComments" disabled>
                    <label class="form-check-label" for="flexSwitchCheckDefault">All all users comment each other <a href="#" onclick="alert('this will make users to comment each in same organisation without permission of admin')">know more</a></label>
                  </div>
                <div class="form-check form-switch ">
                    <input class="form-check-input" type="checkbox" role="switch" id="PrivateInput" disabled>
                    <label class="form-check-label" for="flexSwitchCheckDefault">Private comments to users means doesnot show name <a href="#" onclick="alert('doesnot show the employee name to the user how they are commented on')">know more</a></label>
                  </div>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="NoCommentsInput" disabled>
                    <label class="form-check-label" for="flexSwitchCheckChecked">Doesnot show comments to the users <a href="#" onclick="alert('doesnot show any comments to the user(in their home hage) if comments may or maynot exist')">know more</a></label>
                  </div>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="NoMoreCommentsInput" disabled >
                    <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">Dosent allow any more new comments <a href="#" onclick="alert('doesnot allow anymore more new comments (doesnot not work for the admin) ')">know more</a></label>
                  </div>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="NoMoreCommentsInput" disabled >
                    <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">Only show the comment of their comments <a href="#" onclick="alert('this will doesnot show others comment only their comments to that particular employee will be shown (doesnot not work for the admin)  ')">know more</a></label>
                  </div>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="NoMoreCommentsInput" disabled >
                    <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">Donot show all comments the other person get <a href="#" onclick="alert('this will doesnot show all the comment that are made for the other person while commenting (doesnot not work for the admin) ')">know more</a></label>
                  </div>
                  <div class="input-group mt-3" style="width: 80%;">
                    <span class="input-group-text" id="basic-addon1">Defalut no of comments per user:- </span>
                    <input type="number" class="form-control" min="0" value="0" readonly>
                    <a href="#" class="mx-1" onclick="alert('this will keep for new user the limit per user  to comment on the each employee they got assigned , if you want change for person you can change at the employee, keep note that this will apply for the new upcoming employess only ')">know more</a>
                  </div>

            </div>
            <div class="d-flex justify-content-between mt-3">
                <button class="btn btn-primary" onclick="updateModalSetter()" disabled id="save-button">Save</button>
                <button class="btn btn-danger" onclick="deleteModalSetter()">Delete organisation</button>
            </div>
        </div>
    </div>
</div>