<div class="container ">
    <div class="mt-3 mb-3">
        <a href="/login" id="back-button">
            <i class="fa-solid fa-arrow-left"> Back</i>
        </a>
      </div>
    <div class="row d-flex justify-content-center mt-4 ">
        <div class="col-11 col-md-10 col-lg-8 col-xl-6 border rounded glass">
            <div class="h2 mb-2 mt-1 pb-2 text-center text-info-emphasis" id="heading-of-page">Forgot password</div>
            <div id="message-shower"></div>
            <div class="h5 mb-2 mt-1 pb-2 text-center text-info" id="side-heading">please enter your mail..</div>
            <form id="form-email">
                <div class="email-div">
                    <div class="mb-3 row">
                        <div class="input-group mb-3">
                        <!-- <label for="Email" class="col-sm-2 col-form-label">Email</label> -->   
                          <span class="input-group-text" id="basic-addon2">Email</span>
                        <input type="email"  class="form-control" id="Email" placeholder="Enter the Email" name="email" required>
                        </div>
                    </div>
                    <div class="mb-3 d-flex justify-content-end">
                        <button class="btn btn-success" type="submit">next</button>
                    </div>
                </div>
            </form>
            <form id="form-next" class="d-none">
                <div class="input-group mb-3">
                    <span class="input-group-text">Enter the otp</span>
                    <input type="number" class="form-control" placeholder="Enter the otp" aria-label="Server" name="otp" required>
                    <div class="invalid-tooltip">
                        please provide otp
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Create your new password</span>
                    <input type="password" class="form-control" placeholder="Enter the password" aria-label="Server" name="password" required>
                    <div class="invalid-tooltip">
                        please provide password
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Confirm your new password</span>
                    <input type="password" class="form-control" placeholder="confirm the password" aria-label="Server" name="confirm-password" required>
                    <div class="invalid-tooltip">
                        password doesnot macth
                    </div>
                </div>
                <div class="mb-3 d-flex justify-content-end">
                    <button class="btn btn-success" type="submit">submit</button>
                </div>
            </form>
        </div>
    </div>
</div>